.NavTop {
    font-family: "Architects Daughter", sans-serif;
    font-size: 1.75rem;
    background-color: #2F496E;
    box-shadow: 2px 2px 10px 0 black;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100px;
}

.NavTop__title {
    margin: 10px 30px;
}

.NavTop__title a {
    text-decoration: none;
    cursor: pointer;
    color: #F7EFE2;
}

.NavTop__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style: none;
    margin: 0 20px 0 auto;
    padding: 0;
}

.NavTop__link a {
    display: inline-block;
    text-decoration: none;
    margin: 4px 20px;
    cursor: pointer;
    color: #F7EFE2;
}

@media screen and (max-width: 769px) {
    .NavTop {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        min-height: 50px;
        font-size: .75rem;
    }

    .NavTop__title {
        margin: 5px;
    }

    .NavTop__links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-around;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        list-style: none;
        width: 100%;
        margin: 5px;
        padding: 0;
    }
    
    .NavTop__link a {
        display: inline;
        text-decoration: none;
        margin: 0 5px;
        cursor: pointer;
    }
}
