.NavTop {
    display: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.NavTop__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.NavTop h1 {
    display: inline-block;
    flex-basis: 3;
}


.NavTop__links {
    display: flex;
    flex-basis: 1;
    list-style: none;
    margin: 0;
    padding: 0;
}

.NavTop__link {
    display: inline;
    text-decoration: none;
    margin: 0 5px;
}
