.MediaItem {
  max-width: 500px;
  margin: 25px;
  padding: 25px;
  background-color: #F2F4F2;
  box-shadow: 6px 10px 25px black;
}

.MediaItem__media {
  width: 100%;
  height: auto;
  margin: auto;
}

.MediaItem__caption {
  display: inline;
  margin: 0 4px;
}

.MediaItem__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.MediaItem__thumb {
  border: 1px solid black;
}

.fa-thumbs-up {
  padding: 4px;
  border: 1px solid transparent;
  border-radius: 13px;
}

.MediaItem__likes_text {
  display: inline;
  cursor: pointer;
}

.MediaItem__likes_count {
  margin: 0 4px;
}

.MediaItem__place_name {
  display: inline;
}

.MediaItem__spinner {
  border: 8px solid #F4EADE;
  border-top: 8px solid #2F496E;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes spin {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
