.Footer {
    margin: 5% 0 0 0;
    font-family: "Architects Daughter", sans-serif;
    background-color: #2F496E;
    color: #F7EFE2;
    box-shadow: 0 0 10px 0 grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.Footer p {
    display: inline;
    margin: 5px;
}

.Footer a {
    cursor: pointer;
    color: #F7EFE2;
    text-decoration: none;
    margin: 5px;
}
